.custom-details {
  font-size: 14px;
  /* box-shadow: 0px 0px 8px lightgray; */
}
.custom-details input {
  font-size: small;
}
.orderDetails {
  height: 500px;
}
.orderDetails-heading {
  background: #ec2f3c;
  color: white;
  border-radius: 8px 8px 0px 0px;
}
.orderItems {
  height: 420px;
  overflow: scroll;
  overflow-x: hidden;
}
.order-item {
  height: 68px;
  display: flex;
  justify-content: flex-start;
}
.orderItems::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.orderItems::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

/* Handle */
.orderItems::-webkit-scrollbar-thumb {
  background: #ec2f3c;
  border-radius: 10px;
}
.div-img {
  width: 12%;
}
.div-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.div-item-details {
  width: 50%;
  padding-left: 10px;
}
.div-item-details span {
  font-size: 13px;
}

.total-price button {
  font-size: 14px;
  padding: 6px 8px;
}
