@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.menu-heading {
  background-color: #fbfbfb;
  letter-spacing: 1px;
  padding: 8px 0px;
  position: sticky;
  top: -1px;
  z-index: 1;
}
.menu-container {
  width: 75%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* height: 600px;
  overflow: scroll;
  overflow-x: hidden; */
}
.menu-card-item {
  position: relative;
  border: 1px solid lightgray;
  margin: 8px;
  height: auto;
  width: 250px;
  box-sizing: content-box;
}
.best-seller {
  position: absolute;
  top: 16px;
  background-color: rgb(157, 90, 219);
  color: white;
  font-size: small;
  padding: 1px 4px;
  font-family: "Montserrat", sans-serif;
}

.d-none {
  display: none;
}
.item-cart {
  background-color: white;
  width: 25%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 2px lightgray;
  /* position: sticky;
  top: 16px; */
}
.item-cart-desc {
  margin-top: 10px;
  height: 28px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}
.item-cart-desc-heading {
  width: 56%;
  white-space: nowrap;
  overflow: hidden;
}
.item-cart-desc-price {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
}
.remove-cart-btn {
  font-size: 15px;
  cursor: pointer;
}
.veg-category {
  width: 26px;
  background: url(https://i.pinimg.com/originals/e4/1f/f3/e41ff3b10a26b097602560180fb91a62.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
.nonveg-category {
  width: 26px;
  background: url(https://www.pngkit.com/png/full/257-2579552_non-veg-symbol-non-veg-symbol-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
}
