@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.rest-img-section {
  position: relative;
  height: 438px;
  /* width: 600px; */
}
@media (max-width: 576px) {
  .rest-img-section {
    height: 320px;
  }
}
.rest-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rest-heading {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 45px;
}
@media (max-width: 576px) {
  .rest-heading {
    font-size: 30px;
  }
}
.rest-caption {
  background-color: #0000008c;
  padding: 5px 20px;
  overflow: hidden;
  overflow-y: hidden;
  position: absolute;
  color: white;
  top: 75%;
  width: 100%;
}
.rest-caption-loc {
  color: lightgray;
  width: 60%;
  height: 30px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
}
.rest-caption-loc::-webkit-scrollbar {
  height: 4px;
}
.rest-caption-loc::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
}
.rest-caption-loc::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}
.rest-head-container {
  padding-left: 80px;
}
@media (max-width: 576px) {
  .rest-head-container {
    padding-left: 10px;
  }
  .rest-caption-loc::-webkit-scrollbar {
    height: 2px;
  }
  .rest-caption-loc::-webkit-scrollbar-thumb {
    background: mediumaquamarine;
  }
  .rest-caption {
    padding: 0px 12px;
  }
  .rest-caption .rest-caption-loc {
    font-size: 14px;
  }
  .rest-caption h4 {
    font-size: 16px;
  }
}
.hero {
  height: 90vh;
  background-color: ghostwhite;
  background-image: url(https://coolwallpapers.me/picsup/6009748-chairs-photo-table-restaurant-interior-chandelier.jpg);
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 576px) {
  .hero {
    height: 100vh;
  }
}
.hero .container {
  box-sizing: content-box;
  /* height: 440px; */
}
.reviews-stars {
  color: yellow;
}
.cont-fent2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.featureIcon {
  height: 30px;
  width: 30px;
}
figcaption {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.tab-section {
  color: white;
  font-size: 10px;
  margin-left: -34px;
  font-weight: bold;
}
.tabpanel-section {
  color: white;
  font-size: 12px;
}
.container-row {
  display: flex;
  flex-wrap: wrap;
}
.c-reviews p {
  letter-spacing: 1px;
}
